body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

:root {
  --checker-size: 50px;
  --checker-margin: 30px;
}

#chessBoard {
  width: calc(8 * var(--checker-size) + 2 * var(--checker-margin));
  height: calc(8 * var(--checker-size) + 2 * var(--checker-margin));
  display: flex;
  flex-direction: column;
  align-items: center;
}

.margin .file {
  width: var(--checker-size);
  height: var(--checker-margin);
  display: flex;
  align-items: center;
  justify-content: center;
}

.margin .rank {
  width: var(--checker-margin);
  height: var(--checker-size);
  display: flex;
  align-items: center;
  justify-content: center;
}

#checkerBoard {
  display: flex;
  flex-direction: column;
  width: calc(8 * var(--checker-size));
  height: calc(8 * var(--checker-size));
  border: 1px solid black;
}

.rank {
  display: flex;
  width: calc(8 * var(--checker-size));
  height: var(--checker-size);
}

.checker {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--checker-size);
  height: var(--checker-size);
  font-weight: 700;
}

.checker.white {
  background: white;
  color: black;
}

.checker.gray {
  background: gray;
  color: white;
}

.vertical {
  display: flex;
  flex-direction: column;
}

.horizontal {
  display: flex;
  flex-direction: row;
}

.move-input-wrapper {
  border-top: 1px solid #f0f0f0;
  padding: 16px;
  align-self: flex-end;
}

.move-input {
  margin-bottom: 8px;
  border-radius: 6px;
  height: "28px",
}

.move-button {
  width: 100%;
}

#chat {
  margin: 30px;
}


.chat-wrapper {
  display: flex;
  flex-direction: column;
  height: 600px;
  margin: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.chat-list-wrapper {
  height: 450px;
  overflow-y: auto;
}

.chessboard-wrapper {
  background: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 70px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 600px) {
  :root {
    --checker-margin: 20px;
    --checker-size: calc((100vw - 2 * var(--checker-margin)) / 8);
  }

  body {
    -webkit-tap-highlight-color: transparent;
  }

  #chessBoard {
    width: 100vw;
    height: 100vw;
    margin: 10px;
  }

   .chessboard-wrapper {
    box-shadow: none;
    height: 100vw;
    padding: 0;
   }

  .checker {
    width: var(--checker-size);
    height: var(--checker-size);
  }

  .chat-wrapper {
    height: calc(100vh - 100vw - 40px);
    margin: 10px;
    box-shadow: none;
    border: none;
  }

  .chat-list-wrapper {
    /* height: calc(100vh - 100vw - 200px - env(safe-area-inset-bottom)); */
    display: none;
  }

  .move-input-wrapper {
    border: none;
    padding: 0;
  }

  .move-input {
    height: 40px;
    width: calc(100% - 50px);
    font-size: 18px;
  }

  .move-button {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    font-size: 18px;
  }

  .button-text {
    display: none;
  }

  html, body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    overscroll-behavior: none;
  }
}
